@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .center {
    @apply px-4 xl:px-24 max-w-screen-2xl mx-auto;
  }
}

/*  In space-separated syntax, you don't use commas for hsl and rgb, 
  but for rgba and hsla, you should use commas. */
@layer base {
  :root {
    --primary-100: 166.2 17.8% 85.7%;
    --primary-200: 169.3 17.1% 67.8%;
    --primary-300: 167.4 17% 50.4%;
    --primary-400: 168.6 34.9% 32.5%;
    --primary-500: 167.8 97.4% 14.9%;
    --primary-600: 168.6 96.7% 11.8%;
    --primary-700: 167.4 95.6% 8.8%;
    --primary-800: 169.3 100% 5.5%;
    --primary-900: 166.2 100% 2.5%;

    --accent-100: 210 5.7% 86.3%;
    --accent-200: 220 5.8% 69.6%;
    --accent-300: 216 6.2% 52.7%;
    --accent-400: 217.9 10.4% 35.9%;
    --accent-500: 216 25.8% 19%;
    --accent-600: 217.9 24.7% 15.1%;
    --accent-700: 216 26.3% 11.2%;
    --accent-800: 220 24.3% 7.3%;
    --accent-900: 210 25% 3.1%;

    --tertiary-100: 210 12.9% 87.8%;
    --tertiary-200: 213.3 13% 72.9%;
    --tertiary-300: 214.3 13.1% 58%;
    --tertiary-400: 212.3 17.8% 42.9%;
    --tertiary-500: 213.1 34.3% 28%;
    --tertiary-600: 212.3 34.5% 22.2%;
    --tertiary-700: 213.1 34.9% 16.3%;
    --tertiary-800: 213.3 33.3% 10.6%;
    --tertiary-900: 210 33.3% 4.7%;

    --green-100: 137.1 39.6% 89.6%;
    --green-200: 136.6 40.2% 77.1%;
    --green-300: 137.3 39.9% 64.1%;
    --green-400: 137 40.1% 51.6%;
    --green-500: 137.3 63.5% 38.6%;
    --green-600: 137 63.1% 30.8%;
    --green-700: 137.3 63.5% 22.5%;
    --green-800: 136.6 62.7% 14.7%;
    --green-900: 137.1 63.6% 6.5%;

    --blue-100: 205.9 100% 92.7%;
    --blue-200: 206 100% 83.7%;
    --blue-300: 206.5 100% 74.7%;
    --blue-400: 206.4 100% 65.7%;
    --blue-500: 206.3 100% 56.7%;
    --blue-600: 206.4 76.4% 44.9%;
    --blue-700: 206.5 76.3% 33.1%;
    --blue-800: 206.7 76.1% 21.4%;
    --blue-900: 205.9 75.5% 9.6%;

    --yellow-100: 41.9 100% 91.6%;
    --yellow-200: 42.5 100% 81.2%;
    --yellow-300: 42.3 100% 70.8%;
    --yellow-400: 42.5 100% 60.4%;
    --yellow-500: 42.4 100% 50%;
    --yellow-600: 42.5 100% 39.6%;
    --yellow-700: 42.3 100% 29.2%;
    --yellow-800: 42.5 100% 18.8%;
    --yellow-900: 41.9 100% 8.4%;

    --pink-100: 296 100% 94.1%;
    --pink-200: 295.5 100% 86.9%;
    --pink-300: 295.4 100% 79.4%;
    --pink-400: 295.4 100% 72.2%;
    --pink-500: 295.3 100% 64.9%;
    --pink-600: 295.4 57.3% 51.4%;
    --pink-700: 295.4 54.4% 37.8%;
    --pink-800: 295.5 53.6% 24.5%;
    --pink-900: 294 53.6% 11%;

    --purple-100: 260.9 100% 95.5%;
    --purple-200: 259.2 100% 90.2%;
    --purple-300: 259.2 100% 84.7%;
    --purple-400: 259.2 100% 79.2%;
    --purple-500: 259.3 100% 73.7%;
    --purple-600: 259.2 50% 58.4%;
    --purple-700: 259.2 35.5% 43.1%;
    --purple-800: 260 36.2% 27.6%;
    --purple-900: 260.9 36.5% 12.4%;

    --gray-500: 0 0% 10.2%;
    --gray-400: 0 0% 28.2%;
    --gray-300: 0 0% 46.3%;
    --gray-200: 0 0% 63.9%;
    --gray-150: 0 0% 72.9%;
    --gray-50: 0 0% 91%;
    --gray-35: 0 0% 92.9%;
  }
}

@layer base {
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    /* 16px */
    overflow-x: hidden;
  }
  body {
    @apply font-body text-gray-500 min-h-screen;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-heading font-bold;
  }

  ::-moz-selection {
    background-color: hsl(var(--primary-500));
    color: #fff;
  }
  ::selection {
    background-color: hsl(var(--primary-500));
    color: #fff;
  }
}
